<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EscrowCoin is created to solve all the problems wrong with the type of escrow services currently around. With help of staking feature problem of transaction fees have been resolved.">
    <meta name="keywords" content="escrowed for cryptocurrency, escrow, cryptocurrency, escrow coin, escrow crypto coin">
    <meta name="author" content="birkoff">
    <title>EscrowCoin - Escrow currency for crypto world</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="css/5th.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" media="all" href="css/styles.css">
    <link rel="stylesheet" media="all" href="css/ec-icon.css">
    <link rel="icon" href="img/favico.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/all-ie.css" />
  </head>

  <body id="page-top">
	<div id="loader-wrapper">
		<div id="loader" class="preload-juggle">
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		</div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>  
    <header class="hero-unit" id="hero">
        <div class="container">
            <div class="row">
				<div class="col-md-6  offset-md-3">
					<div class="card card-default" style="z-index:9;">
						<div class="card-heading">
							<img src="img/escrow-logo-footer.png" alt="EscrowCoin - Escrow currency for crypto world">
						</div>						
						<div class="card-body">
							<form  method="POST" action="/verfyMessage">
								<fieldset>
									<div class="form-group">
										<input class="form-control" placeholder="Escodex User Name" name="uname" type="text" required>
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="Signed Message" name="signmessage" type="text" required>
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="ESCO MN Address" name="address" type="text" required>
									</div>									
									<input class="btn btn-lg btn-success btn-block" type="submit" value="Submit">
								</fieldset>
							</form> 
							<p class="text-white pt-3"><%= message %></p>							
						</div>
					</div>
				</div>
			</div>			
        </div>
    </header>
     <section class="bgAnimation">
        <div class="bubbles">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1200 400" xml:space="preserve">
            <!-- bg -->
            <g class="funnel_paths">
          </g>
            <g class="funnel_cells">
          </g>
        </svg>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
	<style>
	.card {
		background-color: rgba(0,0,0,0.2);
		padding: 30px 10px 20px;border-radius:10px;box-shadow: 5px 5px rgba(0,0,0,0.08);
	}
	input{
		border-radius:5px !important;
	}
	.bgAnimation {
 
    height:95vh;
 
}
	</style>
  </body>

</html>
